@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --azulUm: rgb(143, 216, 253);
    --azulDois: rgb(84, 215, 255);
    --azulTres: rgb(37, 190, 237);
    --azulQuatro: rgb(16, 140, 212);
    --amarelo: rgb(250, 246, 133);
    --amareloTransparente: rgba(250, 246, 133, 0.726);
    --cinzaTransparente: rgba(226, 226, 226, 0.416);
    --corDoTexto: black;
    --corDoTextoSecundaria: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.navegacao, header, ul, #sobreMim, li{
    display: flex;
}

header{
    background-color: var(--azulUm);
    color: var(--corDoTexto);
    height: 6rem;
    position: sticky;
    top: 0;
}

ul{
    margin-left: 31rem;
    margin-top: 2rem;  
}

.secao{
    margin-left: 2rem;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    height: 2.5rem;
    width: 9rem;
    justify-content: center;
}

.secao:hover{
    background-color: var(--amareloTransparente);
    border-radius: 1rem;
}

button{
    margin-left: 2rem;
    padding: 10px;
    height: 2.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid var(--corDoTexto);
}

button:hover{
    background-color: var(--amarelo);
    border: 1px solid white
}

a{
    text-decoration: none;
    color: var(--corDoTexto);
    font-size: 20px;
}

h1{
    margin-left: 3rem;
    margin-top: 1.5rem;
}

figure{
    padding: 4rem;
    transition: 0.5s ease;
}

figure:hover{
    transform: translateY(-15px);
}

#sobreMim img{
    width: 12rem;
    border-radius: 10%;
    border: 5px solid var(--amarelo);
}

#sobreMim{
    background-color: var(--azulDois);
}

.titulo{
    display: flex;
    justify-content: center;
}

hr{
    background-color: var(--corDoTexto);
    border: 1px solid var(--corDoTexto);
    width: 18rem;
    height: 3px;
    margin-top: 1rem;
}

.historia{
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 3rem;
    height: 25rem;
    width: 71rem;
    transition: 0.5s ease;
    color: var(--corDoTexto);
}

.historia:hover{
    background-color: var(--cinzaTransparente);
    transform: translateX(-15px);
}

h2{
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--corDoTexto);
}

.historia p{
    margin-top: 4rem;
}

#habilidades{
    background-color: var(--azulTres);
    padding-top: 1px;
    height: 30rem;
}

#linguagens, #contatos, #habilidades h2, #contato h2{
    display: flex;
    justify-content: center;
}

.card{
    margin: 2rem;
    margin-top: 6rem;
    width: 12rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.5s ease;
    background-color: var(--amareloTransparente);
    color: var(--corDoTexto);
}

.card:hover{
    transform: scale(1.1);
    background-color: var(--amarelo);
    color: var(--corDoTextoSecundaria);
}

#contato{
    background-color: var(--azulQuatro);
    padding-top: 1px;
    height: 35rem;
}

.cardContato{
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center; 
    margin: 2rem;
    margin-top: 6rem;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    font-size: 2rem;
    transition: 0.5s ease;
    background-color: var(--amareloTransparente);
    color: var(--corDoTexto);
}

.cardContato span{
    margin-top: 2rem;
}

.cardContato:hover{
    transform: scale(1.1);
    background-color: var(--amarelo);
    color: var(--corDoTextoSecundaria);
}

.cardContato svg{
    width: 8rem;
    fill: currentColor;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}